<form [formGroup]="trackStockFormGroup" (ngSubmit)="onSubmit()">
    <div class="mt-3 pt-3 mx-4 px-4 pb-3 border border-5 border-dark rounded ">
        <p > Enter the symbol of a stock to track (i.e AAPL, TSLA, GOOGL)</p>
        <input  formControlName="symbolInput" size=15 type="text" class="mx-4 border border-2 border-dark rounded">
        <button type="submit" class="mx-4 border border-2 border-dark rounded">Track Stock</button>
        <div *ngIf="symbolInput?.invalid && (symbolInput?.dirty || symbolInput?.touched)" class="alert alert-danger mt-1">
            <p>Please enter a 1 to 5-letter code!!!</p>
        </div>
    </div>
</form>


<app-sentiment *ngFor="let sentiment of sentiments" [sentiment]="sentiment"></app-sentiment>


