<div class="mt-3 pt-3 mx-4 px-4 pb-3 mb-3 border border-5 border-dark rounded">
    <div class="row">
        <div class="col-sm-11">
            <p style="font-weight: bold;">{{descriptionAndSymbol}}</p>
        </div>
    </div>
    <div class="row">
        <ng-template ngFor let-insiderSentiment [ngForOf]="insiderSentiments">
            <div class="col"> 
                <div class="row">
                    <div class="col">
                        <p>{{insiderSentiment.month | uppercase}}</p>
                        <p *ngIf="insiderSentiment.change > 0">Change: {{insiderSentiment.change | currency: '+' }}</p>
                        <p *ngIf="insiderSentiment.change <= 0">Change: {{insiderSentiment.change }}</p>
                        <p>MSPR: {{insiderSentiment.MSPR | number: '1.0-2'}}</p>
                    </div>
                    <div class="col">
                        <span style="font-size: 50px; color: red;" *ngIf="insiderSentiment.change <= 0">↓</span>
                        <span style="font-size: 50px; color: green;" *ngIf="insiderSentiment.change > 0">↑</span>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
</div>

<button type="button" class="mx-4 border border-2 border-dark rounded" (click)="backToListOfStocks()">☚  Back to list of stocks</button>